[data-section-name="custom-topics"] {
  .sidebar-section-link {
    min-width: 0;
  }

  .sidebar-section-link-content-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sidebar-section-link-suffix.unread {
    margin-left: auto;
    color: var(--tertiary);
    font-size: 0.55em;
    display: inline-flex;
    align-items: center;
  }

  .sidebar-section-link.active,
  .sidebar-section-link.sidebar-section-link--active {
    background: var(--d-selected);
  }
}
