[data-section-name="custom-topics"] {
  .sidebar-section-header-text {
    font-size: 18px;
    font-weight: 600;
    color: #002d73 !important;
  }
}

[data-section-name="custom-topics"] {
  .sidebar-section-header-caret {
    display: none;
  }

  .sidebar-section-header-collapsable {
    cursor: default;
    pointer-events: none;
  }

  .sidebar-section-link {
    min-width: 0;
  }

  .sidebar-section-link .sidebar-section-link-content-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #002d73 !important;
  }
}

  .sidebar-section-link-content-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sidebar-section-link-suffix.custom-link-icon {
    font-size: 14px !important;
    color: inherit;
    display: inline-flex;
    align-items: center;
    color: #002d73 !important;
    margin-left: 90px;
}

  .sidebar-section-link-suffix.unread {
    margin-left: auto;
    color: var(--tertiary);
    font-size: 0.55em;
    display: inline-flex;
    align-items: center;
  }

  .sidebar-section-link.active,
  .sidebar-section-link.sidebar-section-link--active {
    background: var(--d-selected);
  }
