[data-section-name="custom-topics"] {
  .sidebar-section-link {
    min-width: 0;
  }

  .sidebar-section-link-content-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #002d73;
  }
}

  .sidebar-section-link-content-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sidebar-section-link-suffix.custom-link-icon {
    color: inherit;
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    margin-left: 82px;
  }

  .sidebar-section-link-suffix.unread {
    margin-left: auto;
    color: var(--tertiary);
    font-size: 0.55em;
    display: inline-flex;
    align-items: center;
  }

  .sidebar-section-link.active,
  .sidebar-section-link.sidebar-section-link--active {
    background: var(--d-selected);
  }
}
